@import url('https://fonts.googleapis.com/css?family=Ubuntu');



#container{
  max-width: 500px;
  min-width: 300px;
  position: absolute;
  left: 50%;
  top: 60%;

  transform: translate(-50%, -70%);
  font-family: 'Ubuntu', sans-serif;
}

.input-group-addon{
  background: #BD65F0;
}

.panel{
  box-shadow: 0px 2px 25px 0px rgba(122, 122, 122, 0.55);
  border-radius: 3px;
}

.panel{
  font-weight: bold;
}

input{
  font-weight: initial;
  border: 1px solid #BD65F0 !important;
  height: 55px;
}

input:focus{
  box-shadow: none !important;
  border: 1px solid #BD65F0 !important;
  background: #BD65F0;
}

.input-group .input-group-addon i{
  color: black;
  transition: 0.5s;
}
.input-group .input-group-addon{
  background: #BD65F0;
  transition: 0.5s;
  border-color: #fe5;
}


label{
  font-weight: initial;
}

button{
  border-color: #BD65F0 !important;
  border-radius: 2px !important;
  background: transparent !important;
  color: black !important;
  padding: 7px 30px !important;
}

button:hover{background: #fffce5 !important;}
button:active{background: #fe5 !important;}

.panel-heading{
  background: #BD65F0 !important;
  border-color: #BD65F0 !important;
  color: black !important;
  padding: 30px 40px 50px;
}

.r-circle{
  width: 25px;
  height: 25px;
  background: white;
  z-index: 50;
  position: absolute;
  border-radius: 100%;
  border: 2px solid #fffce5;
  right: 10px;
  color: #a07223;
  margin-top: -3px;
}

.r-circle i{
  font-size: 14px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}